.category_page {
  background-color: #fff;
}
.category_name {
  text-align: center;
  font-size: 38px;
}
.all_category {
  font-size: 20px;
  text-align: center;
}
.category_container {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.category_top_image {
  position: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.category_image {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.category_top_image:hover .category_hover_section {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}
.category_hover_section {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.categoryHoverBtn {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  background: #ea6721;
  border: 0;
  padding: 5px 10px;
}
.category_title {
  font-size: 16px;
}

@media (max-width: 640px) {
  .category_top_image {
    position: inherit;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .col-sm-6 {
    flex-basis: 50%;
  }
}

/*MEDIA ONLY FOR DESKTOP LARGE DEVICES */
@media (max-width: 512px) {
  .category_image {
    min-height: 175px !important;
    max-height: 175px !important;
  }
}

/*MEDIA ONLY FOR DESKTOP LARGE DEVICES */

.category_image {
  min-height: 233px;
  max-height: 233px;
}
