.promotion {
  /* margin: 10px 0px; */
  padding-top: 5px;
}
.promotion_container {
  padding: 10px 0px;
  overflow: hidden;
  background: #9ac31d;
  /* height: 50px; */
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.promotion_text {
  font-size: 17px;
  padding: 15px 0px;
  font-weight: 600;
  animation: promotion 30s linear infinite;
  color: #000;
  min-width: 740px;
  text-transform: capitalize;
}
.promotionBox {
  align-items: center;
}
@keyframes promotion {
  0% {
    transform: translateX(135%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 512px) {
  .promotion_text {
    min-width: 910px;
  }
}